@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#0051ff, #007bff);
}

::selection {
    color: #fff;
    background: #4267b2;
}

.container {
    width: 500px;
    height: 550px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    transition: height 0.2s ease;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

    .container.active {
        height: 590px;
    }

    .container .wrapper {
        margin-left:-10px;
        margin-top: -10px;
        width: 1000px;
        display: flex;
    }

        .container .wrapper section {
            width: 500px;
            background: #fff;
        }

    .container img {
        cursor: pointer;
    }

    .container .post {
        transition: margin-left 0.18s ease;
    }

    .container.active .post {
        margin-left: -500px;
    }

.post header {
    font-size: 22px;
    font-weight: 600;
    padding: 17px 0;
    text-align: center;
    border-bottom: 1px solid #bfbfbf;
}

.post .form {
    margin: 20px 25px;
}

    .post .form .column {
        display: flex;
        align-items: center;
    }

.content{
    margin-top:10px;
}

.form .content .details p {
    font-size: 17px;
    font-weight: 500;
}


.form .post-btn {
    width: 100%;
    outline: none;
    border: none;
}
.form :where(textarea, button) {
    width: 100%;
    outline: none;
    border: none;
}

.form textarea {
    resize: none;
    font-size: 18px;
   
    min-height: 100px;
}

    .form textarea::placeholder {
        color: #858585;
    }

    .form textarea:focus::placeholder {
        color: #b3b3b3;
    }

.form :where(.theme-emoji, .options) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.theme-emoji img:last-child {
    max-width: 24px;
}

.form .options {
    height: 55px;
    margin: 15px 0;
    padding: 0 15px;
    border-radius: 7px;
    border: 1px solid #b9b9b9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

    form .options :where(.list, li),
    :where(.icon, li .radio) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form .options p {
        color: #595959;
        font-size: 15px;
        font-weight: 500;
        cursor: default;
    }

    .form .options .list {
        list-style: none;
    }

.list li img {
    width: 23px;
}

.form .post-btn{
    height: 60px;

    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #bcc0c4;
    cursor: no-drop;
    border-radius: 7px;
    background: #e2e5e9;
    border-color:white;
   box-shadow:0;
    transition: all 0.3s ease;
}

.form textarea:valid ~ .post-btn {
    color: #fff;
    cursor: pointer;
    background: #4267b2;
}

.form textarea:valid ~ .post-btn:hover {
    background: #4267b2;
}

label.filebutton {
    width: 120px;
    height: 40px;
    overflow: hidden;
    position: relative;
}

label span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding: 0;
}

.drag-image {
    margin-bottom: 20px;
}

.drag-image {
    border: 1px dashed rgb(0, 0, 0);
    height: 200px;
    width: 450px;
    border-radius: 5px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    .drag-image.active {
        border: 2px solid rgb(0, 0, 0);
    }

    .drag-image .icon {
        font-size: 30px;
        color: rgb(0, 0, 0);
    }

    .drag-image h6 {
        font-size: 20px;
        font-weight: 300;
        color: rgb(0, 0, 0);
    }

    .drag-image span {
        font-size: 14px;
        font-weight: 300;
        color: rgb(0, 0, 0);
        margin: 10px 0 15px 0;
    }

    .drag-image button {
        padding: 10px 25px;
        font-size: 14px;
        font-weight: 300;
        border: none;
        outline: none;
        background: transparent;
        color: rgb(0, 0, 0);
        border: 1px solid rgb(0, 0, 0);
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s;
    }

        .drag-image button:hover {
            background-color: rgb(0, 153, 255);
            color: rgb(0, 0, 0);
        }

    .drag-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
